@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 17px;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-navy-900 antialiased;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
